.sametexteverywhere{
    color:#ffa500;
}


.samebgeverywhere{
    background-color:#ffa500;
    color:white;
}

.progress .indeterminate {
    background-color: white;
}

.progress {
    background-color: #ffa500
}

.prefix{
    color:orange
}


/* label color */
.input-field label {
    color: orange;
}
/* label focus color */
.input-field input[type=text]:focus + label {
    color: #ffa500;
}
/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #ffa500;
    box-shadow: 0 1px 0 0 #ffa500;
}
/* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid #ffa500;
    box-shadow: 0 1px 0 0 #ffa500;
}
/* invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid #ffa500;
    box-shadow: 0 1px 0 0 #ffa500;
}
/* icon prefix focus color */
.input-field .prefix.active {
    color: #ffa500;
}

[type="checkbox"].filled-in:checked + label:before {
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
}



.switch label input[type=checkbox]:checked + .lever {
    background-color: #ffa500;
}

.switch label input[type="checkbox"]:checked + .lever::after {
    background-color: #ffa500;
}

.btn:hover, .btn-large:hover {
    background-color: #ffa500;
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after {
    background-color: #ffa500;
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:before, [type="radio"].with-gap:checked+label:after {
    border: 2px solid #ffa500;
}

input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #ffa500;
    box-shadow: 0 1px 0 0 #ffa500;
}

input:not([type]):focus:not([readonly]) + label, input[type=text]:focus:not([readonly]) + label, input[type=password]:focus:not([readonly]) + label, input[type=email]:focus:not([readonly]) + label, input[type=url]:focus:not([readonly]) + label, input[type=time]:focus:not([readonly]) + label, input[type=date]:focus:not([readonly]) + label, input[type=datetime-local]:focus:not([readonly]) + label, input[type=tel]:focus:not([readonly]) + label, input[type=number]:focus:not([readonly]) + label, input[type=search]:focus:not([readonly]) + label, textarea.materialize-textarea:focus:not([readonly]) + label {
    color: #ffa500;
}

[type="checkbox"]:checked+label:before {
    border-right: 2px solid #ffa500;
    border-bottom: 2px solid #ffa500;
}

[type="checkbox"]:checked+label:before {
    border-right: 2px solid #ffa500;
    border-bottom: 2px solid #ffa500;
}

[type="checkbox"].filled-in:checked + label:after {
    border: 2px solid #ffa500;
    background-color: #ffa500;
}